<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a href="/Home/Index" aria-expanded="false"><span class="hide-menu">All patients</span></a>
                </li>
                <li>
                    <a href="/Home/Calendar" aria-expanded="false"><span class="hide-menu">Doctor schedule</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>