<div class="table-responsive">
    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
        <thead>
            <tr>
                <th>ID #</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Last Visit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1224</td>
                <td>
                    <a href="profile.html"><img src="~/Res/images/users/2.jpg" alt="user" class="img-circle" /> Erbol Syzdyk</a>
                </td>
                <td>+7(707) 123 45 67</td>
                <td>13-10-2017</td>
            </tr>
            <tr>
                <td>1024</td>
                <td>
                    <a href="profile.html"><img src="~/Res/images/users/3.jpg" alt="user" class="img-circle" /> Batyr Zhetpisbayev</a>
                </td>
                <td>+7(707) 123 45 67</td>
                <td>13-10-2017</td>
            </tr>
            <tr>
                <td>970802400126</td>
                <td>
                    <a href="profile.html"><img src="~/Res/images/users/1.jpg" alt="user" class="img-circle" /> Kialbekov Arman Zhigeldievich</a>
                </td>
                <td>+7(707) 123 45 67</td>
                <td>14-10-2017</td>
            </tr>
            <tr>
            <tr>
                <td>970802400126</td>
                <td>
                    <a href="profile.html"><img src="~/Res/images/users/1.jpg" alt="user" class="img-circle" /> Kialbekov Arman Zhigeldievich</a>
                </td>
                <td>+7(707) 123 45 67</td>
                <td>14-10-2017</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Patient</button>
                </td>
                <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Add New Patient</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <from class="form-horizontal form-material">
                                    <div class="form-group">
                                        <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" placeholder="Surname">
                                        </div>
                                        <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" placeholder="Paternity">
                                        </div>
                                        <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" placeholder="IIN">
                                        </div>
                                        <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" placeholder="Phone">
                                        </div>
                                        <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" placeholder="Date of Birth">
                                        </div>
                                        <div class="col-md-12 m-b-20">
                                            <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light">
                                                <span><i class="ion-upload m-r-5"></i>Upload Patient Image</span>
                                                <input type="file" class="upload">
                                            </div>
                                        </div>
                                    </div>
                                </from>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td colspan="6">
                    <div class="text-right">
                        <ul class="pagination"> </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>