@model Playground.Models.Child
<div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add New Patient</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form class="form-horizontal form-material" asp-action="CreatePatient" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Name" asp-for="FirstName">
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Surname" asp-for="LastName">
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="IIN" asp-for="IIN">
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Phone" asp-for="Phone">
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input type="date" class="form-control" placeholder="Date of Birth" asp-for="DateOfBirth">
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Login" asp-for="Login">
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        </div>
                        @*<div class="col-md-12 m-b-20">
                                <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light">
                                    <span><i class="ion-upload m-r-5"></i>Upload Patient Image</span>
                                    <input type="file" class="upload">
                                </div>
                        </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect">Save</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>