@model Playground.Models.Admin

@{
    var fullName = Model.Name + " " + Model.Surname; 
}

<div class="card-body">
    <form class="form-horizontal form-material">
        <div class="form-group">
            <label class="col-md-12">Full Name</label>
            <div class="col-md-12">
                <input type="text" placeholder="@fullName" class="form-control form-control-line">
            </div>
        </div>
        <div class="form-group">
            <label for="example-email" class="col-md-12">IIN</label>
            <div class="col-md-12">
                <input type="email" placeholder="@Model.Login" class="form-control form-control-line" name="example-email" id="example-email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Password</label>
            <div class="col-md-12">
                <input type="password" value="password" class="form-control form-control-line">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Phone No</label>
            <div class="col-md-12">
                <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12">Select Doctor</label>
            <div class="col-sm-12">
                <select class="form-control form-control-line">
                    <option>Steve Jobs</option>
                    <option>Madina Umirbekova</option>
                    <option>Yuliya Masalkina</option>
                    <option>Tansholpan Seriktessova</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-success">Update Profile</button>
            </div>
        </div>
    </form>
</div>