<div class="card-body">
    <div class="profiletimeline">
        <div class="sl-item">
            <div class="sl-left"> <img src="~/Res/images/users/d5.jpg" alt="user" class="img-circle" /> </div>
            <div class="sl-right">
                <div>
                    <a href="#" class="link">Steve Jobs</a> <span class="sl-date">27-10-2018</span>
                    <p>assigned a new <a href="#"> Prescription</a></p>
                    <div class="row">
                        <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="sl-item">
            <div class="sl-left"> <img src="~/Res/images/users/d5.jpg" alt="user" class="img-circle" /> </div>
            <div class="sl-right">
                <div>
                    <a href="#" class="link">Steve Jobs</a> <span class="sl-date">27-10-2018</span>
                    <p>assigned a new <a href="#"> Prescription</a></p>
                    <div class="row">
                        <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="sl-item">
            <div class="sl-left"> <img src="~/Res/images/users/d5.jpg" alt="user" class="img-circle" /> </div>
            <div class="sl-right">
                <div>
                    <a href="#" class="link">Steve Jobs</a> <span class="sl-date">27-10-2018</span>
                    <p>assigned a new <a href="#"> Vaccination</a></p>
                    <div class="row">
                        <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>