@model List<Playground.Models.Ticket>
<div class="card-body">
    <div class="profiletimeline">
        @foreach (Playground.Models.Ticket t in Model)
    {
        <div class="sl-item">
            <div class="sl-left"> <img src="~/Res/images/users/d5.jpg" alt="user" class="img-circle" /> </div>
            <div class="sl-right">
                <div>
                    <a href="#" class="link">@t.DoctorFullName</a> <span class="sl-date">@t.StartDate.ToShortDateString()</span>
                    <p>assigned a new <a href="#"> Ticket</a></p>
                    <div class="row">
                        <p class="m-t-10"> @t.Prescription</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

}
    </div>
</div>