<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Panel</title>
</head>
<body>
    <a asp-action="ListAdmin" asp-controller="Admin">List of Admins</a>
    <br />
    <a asp-action="ListChildren" asp-controller="Children">List of Children</a>
    <br />
    <a asp-action="ListDoctor" asp-controller="Doctor">List of Doctors</a>
    <br />
    <a asp-action="ListNurse" asp-controller="Nurse">List of Nurses</a>
    <br />
    <a asp-action="ListPrescription" asp-controller="Prescription">List of Prescriptions</a>
    <br />
    <a asp-action="ListSchedule" asp-controller="Schedule">List of Schedules</a>
    <br />
    <a asp-action="ListTicket" asp-controller="Ticket">List of Tickets</a>
    <br />
    <a asp-action="ListVaccineList" asp-controller="VaccineList">List of VaccineLists</a>

</body>
</html>