<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Authorization</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/calendar.css" rel="stylesheet">
    <link href="~/css/colors.css" id="theme" rel="stylesheet">
</head>
<body>
    @RenderBody();
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/js/sticky.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/style-switcher.js"></script>
</body>
</html>